.priceWrapper{
  display: flex;
  flex-direction: row;
}

.currentPrice{
  padding-top: 1px;
  padding-left: 12px;
  font-weight: 700;
  font-size: 22px;
  color: #2C2C2C;;
}

.roublSymbol{
  content: url(./ruble-price.svg);
  background-size: cover;
  height: 18px;
  width: 15px;
  padding-left: 3px;
  padding-top: 5px;
}

@media (max-width: 768px) { 
  .currentPrice{
    font-size: 18px;
  }
}
@media (max-width: 320px) { 
  .currentPrice{
    font-size: 14px;
    padding-top: 2.5px;
  }
  .roublSymbol{
    height: 14px;
    width: 12px;
  }
}